doctype html
html 
  // (manifest='/manifest.appcache')
  head
    // Meta Tags
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // Title
    title Gavin Engel CV

    // Favicons
    link(rel="shortcut icon", href="icons/favicon.ico")
    link(rel="apple-touch-icon", href="icons/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="icons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="icons/apple-touch-icon-114x114.png")

    // Fonts
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lilita+One", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Alegreya+Sans+SC", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet", type="text/css")

    // CSS
    link(href="css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="css/animate.css", rel="stylesheet", type="text/css")
    link(href="css/creative-brands.css", rel="stylesheet", type="text/css")
    link(href="css/vertical-carousel.css", rel="stylesheet", type="text/css")
    link(href="css/custom.css", rel="stylesheet", type="text/css")

    // JS
    //if lt IE 9
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/store.js/1.3.14/store.min.js")
    script(type='text/javascript').
      init()
      function init() { if (!store.enabled) { alert('Local storage is not supported by your browser. Please disable "Private Mode", or upgrade to a modern browser.'); return; } }
    script(src="js/tweets.js")

  body#page-top
    div#app
      .tweets-container(style="display:none;")
        p Loading...
      a.scroll-up.noprint.scroll(href="#page-top")
        i.fa.fa-chevron-up.noprint
      h1.page-top Freelancer
      header
        nav.navbar.navbar-default.noprint.navbar-fixed-top(role="navigation")
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavigation")
                i.fa.fa-bars
              img.navbar-logo.pull-left(src="image/gavin.png", alt="")
              a.navbar-brand.animated.flipInX(href="index.html") Gavin Engel
            // Collect the nav links, forms, and other content for toggling
            #myNavigation.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right.animated.flipInX
                li
                  a.scroll(href="#about") About me
                li
                  a.scroll(href="#resume") Resume
                li
                  a.scroll(href="#services") Concepts
                li
                  a.scroll(href="#blog") Previous Work
        .jumbotron
          .social-wrapper
            ul.brands.brands-inline.hidden-xs.scrollpoint.sp-effect1.noprint
              li
                a(href="https://www.facebook.com/gavinengel")
                  i.fa.fa-facebook.hi-icon-effect-8
              li
                a(href="https://www.twitter.com/gavinengel")
                  i.fa.fa-twitter
            h2.scrollpoint.sp-effect3 Gavin Engel
            ul.brands.brands-inline.hidden-xs.scrollpoint.sp-effect2.noprint
              li
                a(href="https://www.google.com/+GavinEngel")
                  i.fa.fa-google-plus
              li
                a(href="https://www.linkedin.com/in/gavinengel")
                  i.fa.fa-linkedin
          // Slideshow start
          #slideshow.carousel.slide.vertical.scrollpoint.sp-effect3(data-ride="carousel")
            .carousel-inner
              .item.active
                h3.slide1
                  i.fa.fa-trophy
                  | 
                  span 
              .item
                h3.slide2
                  | 
                  span Creative coder
                  i.fa.fa-code.icon
              .item
                h3.slide3
                  | 
                  span I &nbsp;
                  i.fa.fa-heart.icon-first
                  | 
                  span &nbsp; webdev

          #contacts
            ul
          a.btn.btn-reference.btn-lg.noprint.scroll.scrollpoint.sp-effect1(href="#about", role="button")
            i.fa.fa-smile-o
            | Know me better
      section#about.content-first.noprint
        .container
          .row
            .col-sm-2.hidden-xs.scrollpoint.sp-effect1
              // Profile image
              img.image-bordered.img-responsive(src="image/gavin.png", alt="")
            // Profile end
            .col-md-7.col-sm-6.scrollpoint.sp-effect1
              // Profile description
              h3 Gavin Engel
              ///ul#summary-items
              .tweets.noprint.bg-green-dk
                // Tweets row
                // Tweets slideshow
                .media
                  .pull-left
                    i.fa.fa-twitter
                  .media-body
                    #slideshow1.carousel.slide(data-ride="carousel")


      // new
      section#summary.content-second
        .container
          .row.resume
            .col-sm-12
              h2.scrollpoint.sp-effect3 Summary
            .three.columns.header-col.scrollpoint.sp-effect3
              h1
                span In Brief
            ul#summary-items.nine.main-col.scrollpoint.sp-effect2

      section#resume.content-first
        .container
          .row.resume
            .col-sm-12
              h2.scrollpoint.sp-effect3 Professional Experience
            .three.columns.header-col.scrollpoint.sp-effect3
              h1
                span Work
            #resume-items.nine.columns.main-col.scrollpoint.sp-effect2

      section#services.content-second
        .container
          .row
            .col-md-12
              h2.scrollpoint.sp-effect2 Concepts

      section#blog.content-first
        .container
          h2.scrollpoint.sp-effect2 Previous Work
        .container
          .row

      section#pricing.content-second
        .container
          h2.scrollpoint.sp-effect3 Formal Education
          #formal.row
            // PRICING TABLE FIRST - start
            .col-md-8.scrollpoint.sp-effect3
              // PRICING TABLE FIRST - start
              .pricing-table.active
                // Pricing table - start
                .pricing-headline
                  h3 Standard
                ul.list-unstyled
                  li
          .hr.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          h2.scrollpoint.sp-effect3 Certificates
          #certificates.row
          #insurance.row
            // this and below should be mostly removed, TODO
            .pricing-table.active
              // Pricing table - start
              .pricing-headline
                h3 Standard
              ul.list-unstyled
                li

      section#footer
        .container
          .row.scrollpoint.sp-effect3
            .col-sm-8.col-sm-offset-2
              blockquote.blockquote-reverse.noprint
                p
                  i.fa.fa-quote-left
                  span
                footer
          .row
            .col-sm-12.scrollpoint.sp-effect3
              ul.brands.brands-inline.noprint
                li
                  a(href="https://www.facebook.com/gavinengel")
                    i.fa.fa-facebook.hi-icon-effect-8
                li
                  a(href="http://www.twitter.com/gavinengel")
                    i.fa.fa-twitter
                li
                  a(href="https://www.google.com/+GavinEngel")
                    i.fa.fa-google-plus
                li
                  a(href="https://www.linkedin.com/in/gavinengel")
                    i.fa.fa-linkedin
              p
                a.btn.btn-footer(href="http://www.gavinengel.com/", target="_blank") GavinEngel.com

      // JS
      script(src="js/bootstrap.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js")
      script(src="js/creative-brands.js")
      script(src="js/jquery.easy-pie-chart.js")
      script(src="js/modernizr.custom.js")
      script(src="js/waypoints.min.js")
      script(src="js/jquery.countTo.js")
      script(src="js/jqBootstrapValidation.js")
      script(src="js/custom.js")

      // segment.com
      script(type='text/javascript').
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load("Y1sgJo1rFLDmbZkY75jGjCcA2rxgK6lL");
        analytics.page()
        }}();
